# Ignore everything
/*

# Track certain files and directories
!/readme.md
!.gitignore
!/.sops.yaml
!/apply-config.sh
!/LICENSE
!secrets.sops.env

# VyOS config
!scripts/
!config-parts/
!containers/

# CI
!.github/